---
layout: layouts/base_sp.ejs
title: 登山で頂きメシ！ Mountain × Best food
stylesheet: /css/sp/recruit.css
script: /js/recruit.js
---
<h1 class="c-heading-type1">
  <img src="/img/recruit/text-recruit.png" alt="">
</h1>