---
layout: layouts/base_sp.ejs
title: 採用情報
stylesheet: /css/sp/recruit.css
script: /js/recruit.js
---

<!-- .l-recruit -->
<div class="l-recruit">
  <div class="l-top">
    <div class="l-top__outer">
      <div class="l-top__inner">
        <div class="l-top__slide">
          <!-- Slider main container -->
          <div class="c-widget-topSlider swiper js-swiper-top">
            <!-- Additional required wrapper -->
            <div class="c-widget-topSlider__wrapper swiper-wrapper">
              <!-- Slides -->
              <div class="c-widget-topSlider__item swiper-slide">
                <img src="/img/recruit/image-kv1.jpg" alt="" width="960" height="540" />
              </div>
              <div class="c-widget-topSlider__item swiper-slide">
                <img src="/img/recruit/image-kv2.jpg" alt="" width="960" height="540" />
              </div>
              <div class="c-widget-topSlider__item swiper-slide">
                <img src="/img/recruit/image-kv3.jpg" alt="" width="960" height="540" />
              </div>
            </div>
          </div>
        </div>
        <div class="l-top__content">
          <h1 class="c-heading-type1">
            <span class="c-heading-type1__main">Recruit</span>
            <span class="c-heading-type1__sub">株式会社 スカイA 採用情報</span>
          </h1>
          <div class="l-top__lead">
            <p class="l-top__leadItem">
              スポーツコンテンツは人に感動、元気、勇気を与え、<br class="pc-view" />
              人をつなぐパワーがあります。<br />
              それらを創意工夫を持って創り、届けることで、 <br class="pc-view" />
              世の中の人を元気に、楽しく、豊かにする。
            </p>
            <p class="l-top__leadItem">
              何か新しいこと、楽しいことをやってみたい！
              <br class="pc-view" />まずはあなたのアイデアを「ちょい足し」してみませんか？
            </p>
          </div>
          <div class="c-list-news">
            <h2 class="c-list-news__title">お知らせ</h2>
            <ul class="c-list-news__list">
              <li class="c-list-news__item is-new">
                <time class="c-list-news__date" datetime="2024-03-08">2024/03/08</time>
                <span class="c-list-news__name"><a href="#section-2" class="c-list-news__link">募集要項公開</a></span>
              </li>
              <li class="c-list-news__item">
                <time class="c-list-news__date" datetime="2024-03-08">2024/03/08</time>
                <span class="c-list-news__name"><a href="#section-3" class="c-list-news__link">社員紹介掲載</a></span>
              </li>
              <li class="c-list-news__item">
                <time class="c-list-news__date" datetime="2024-03-08">2024/03/08</time>
                <span class="c-list-news__name"><a class="c-list-news__link">採用ページ開設</a></span>
              </li>
            </ul>
          </div>
        </div>
        <div class="l-top__navigation">
          <nav class="c-list-navigation">
            <ul class="c-list-navigation__list">
              <li class="c-list-navigation__item">
                <a href="#section-1" class="c-list-navigation__link">会社概要</a>
              </li>
              <li class="c-list-navigation__item">
                <a href="#section-2" class="c-list-navigation__link">募集要項</a>
              </li>
              <li class="c-list-navigation__item">
                <a href="#section-3" class="c-list-navigation__link">社員紹介</a>
              </li>
              <li class="c-list-navigation__item">
                <a href="#section-4" class="c-list-navigation__link">よくある質問</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="l-about" id="section-1">
    <div class="l-about__outer">
      <div class="l-about__inner">
        <h2 class="c-heading-type2 c-heading-type2--about">
          <span class="c-heading-type2__main">About スカイA</span>
          <span class="c-heading-type2__sub">会社概要</span>
        </h2>
        <p class="l-about__text">
          CSスポーツチャンネル「スカイA」は、1994年に放送を開始したCS放送局です。 <br />
          スカパーや、ケーブルテレビなどを通じて全国で視聴することが出来ます。<br />
          有料チャンネルならではの独自編成・専門性で、スポーツファンの皆様に 好評をいただいています。<br />
          自社での番組制作率が高いことに加え、近年ではスポーツメディアの将来性も見据えて、<br class="pc-view" />
          ネット配信の競技中継でも実績を重ねて来ました。<br />
          朝日放送グループホールディングスの一員として、ABCテレビ（地上波放送局）、<br class="pc-view" />
          ABCラジオ（ラジオ局）と並んで、グループの「CS放送事業」を担っており、<br class="pc-view" />
          福利厚生も手厚く、安心して働いて頂ける会社です。
        </p>
        <div class="l-about__button">
          <a href="/global/outline/" class="c-button">会社概要</a>
        </div>
        <div class="l-about__banner">
          <%- include('/partials/banner') %>
        </div>
      </div>
    </div>
  </div>
  <div class="l-slide swiper">
    <div class="c-widget-slider js-swiper-slide">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide c-widget-slider__item">
          <img src="/img/recruit/image-slide1.jpg" alt="" width="320" height="180" />
        </div>
        <div class="swiper-slide c-widget-slider__item">
          <img src="/img/recruit/image-slide2.jpg" alt="" width="320" height="180" />
        </div>
        <div class="swiper-slide c-widget-slider__item">
          <img src="/img/recruit/image-slide3.jpg" alt="" width="320" height="180" />
        </div>
        <div class="swiper-slide c-widget-slider__item">
          <img src="/img/recruit/image-slide4.jpg" alt="" width="320" height="180" />
        </div>
        <div class="swiper-slide c-widget-slider__item">
          <img src="/img/recruit/image-slide5.jpg" alt="" width="320" height="180" />
        </div>
        <div class="swiper-slide c-widget-slider__item">
          <img src="/img/recruit/image-slide6.jpg" alt="" width="320" height="180" />
        </div>
      </div>

      <div class="swiper-button-prev c-widget-slider__button"></div>
      <div class="swiper-button-next c-widget-slider__button"></div>
    </div>
  </div>
  <div class="l-information" id="section-2">
    <div class="l-information__outer">
      <div class="l-information__inner">
        <h2 class="c-heading-type2 c-heading-type2--information">
          <span class="c-heading-type2__main">Information</span>
          <span class="c-heading-type2__sub">募集要項</span>
        </h2>

        <p class="l-information__lead"><strong>次回のオンライン会社説明会は、3/12（火）16:00～です。　</strong></p>

        <ul class="l-information__nav">
          <li class="l-information__navItem">
            <a href="#section-2-1" class="l-information__navLink">新卒採用</a>
          </li>
          <li class="l-information__navItem">
            <a class="l-information__navLink l-information__navLink--type2" aria-disabled="true">
              キャリア採用
              <span class="l-information__navLinkNote">※現在募集はしていません。</span>
            </a>
            <%＃ <a href="#section-2-2" class="l-information__navLink l-information__navLink--type2">
              中途採用
            </a>%>
          </li>
        </ul>

        <div class="c-heading-type3" id="section-2-1">
          <h3 class="c-heading-type3__title c-heading-type3__title--newgraduate">
            <span class="c-heading-type3__main">New Graduate</span>
          </h3>
          <span class="c-heading-type3__sub">新卒採用募集要項</span>
          <%#<span class="c-heading-type3__note">※2024年度の新卒採用は終了しました。</span>%>
        </div>

        <div class="c-table">
          <table class="c-table__table">
            <tbody>
              <tr>
                <th>職種</th>
                <td>総合職</td>
              </tr>
              <tr>
                <th>勤務地</th>
                <td>大阪本社（東京支社あり）</td>
              </tr>
              <tr>
                <th>勤務時間</th>
                <td>10:00～18:00（1時間休憩あり）</td>
              </tr>
              <tr>
                <th>初任給</th>
                <td>
                  215,100円（22歳・月給）／（時間外手当を含む給与例）246,700円（新入社員・22歳）<br />
                  ※時間外手当はみなし定額ではなく、時間外数に比例して支給いたします。
                </td>
              </tr>
              <tr>
                <th>昇給</th>
                <td>年1回</td>
              </tr>
              <tr>
                <th>賞与</th>
                <td>年2回（業績による）</td>
              </tr>
              <tr>
                <th>諸手当</th>
                <td>家族手当、資格手当、時間外手当、休日出勤手当、深夜手当、早朝出勤手当 ほか</td>
              </tr>
              <tr>
                <th>休日休暇</th>
                <td>完全週休2日制、国民の祝日、年末年始、 年次有給休暇、結婚休暇、出産休暇 、 積立休暇、育児休暇、介護休暇</td>
              </tr>
              <tr>
                <th>福利厚生</th>
                <td>各種社会保険（健康・厚生年金・雇用・労災）、各種制度（退職金、慶弔見舞金等）、WELBOX利用可、確定拠出年金制度、<br class="pc-view">
                  朝日放送テレビ本社の社員食堂利用可</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="l-seminar c-content">
          <h4 class="c-heading-type4__title c-heading-typey__title--newgrduate"><span class="c-heading-type4__main">オンライン会社説明会予定（Zoom）</span><span class="c-heading-type4__note">※30～40分程度。<a href="https://job.mynavi.jp/25/pc/search/corp278277/outline.html" target="_blank">マイナビ</a>、<a href="https://www.gakujo.ne.jp/2025/company/baseinfo/45868/" target="_blank">あさがくナビ</a>よりお申込み下さい。日時は変更になることがあります。</span></h4>
          <ol class="c-list-order">
            <li class="c-list-order__item">2024/ 3/12（火）16:00～</li>
            <li class="c-list-order__item">3/19（火）11:00～</li>
            <li class="c-list-order__item">3/29（金）16:00～</li>
            <li class="c-list-order__item">4/4（木）11:00～</li>
            <li class="c-list-order__item">4/9（火）16:00～</li>
            <li class="c-list-order__item">4/18（木）11:00～</li>
            <li class="c-list-order__item">4/22（月）16:00～</li>
            <li class="c-list-order__item">4/30（火）11:00～</li>
          </ol>
        </div>

         <div class="l-information__banner">
          <%- include('/partials/banner') %>
        </div>

        <div class="c-heading-type3" id="section-2-2">
          <h3 class="c-heading-type3__title c-heading-type3__title--career">
            <span class="c-heading-type3__main">Career</span>
          </h3>
          <span class="c-heading-type3__sub">キャリア採用募集要項</span>
          <span class="c-heading-type3__note">※現在募集はしていません。</span>
        </div>
      </div>
    </div>
  </div>

  <div class="l-interview" id="section-3">
    <div class="l-interview__outer">
      <div class="l-interview__inner">
        <h2 class="c-heading-type2 c-heading-type2--interview">
          <span class="c-heading-type2__main">Interview</span>
          <%#<img src="/img/recruit/text-interview@2x.png" width="312" height="54" alt="Interview" />%>
          <span class="c-heading-type2__sub">社員紹介</span>
        </h2>

        <div class="c-card-media-list">
          <div class="c-card-media">
            <div class="c-card-media__content js-initYouTube" data-youtube-id="xTSfCZDlz_I">
              <div class="c-card-media__image">
                <button aria-label="モーダルを開く" class="c-card-media__button js-initYouTube__init" data-micromodal-trigger="modal-1" role="button">
                  <img alt="" src="https://i.ytimg.com/vi/xTSfCZDlz_I/sddefault.jpg" width="560" height="315" />
                </button>
              </div>
              <div aria-hidden="true" class="modal micromodal-slide" id="modal-1">
                <div class="modal__overlay js-initYouTube__close" data-micromodal-close="" tabindex="-1">
                  <div aria-modal="true" class="modal__container" role="dialog">
                    <button aria-label="モーダルを閉じる" class="modal__close js-initYouTube__button" data-micromodal-close></button>

                    <div class="modal__content">
                      <div class="js-initYouTube__content"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="c-card-media__title">編成局制作部　Tさん</div>
            <div class="c-card-media__name">2017年入社</div>
            <%#<p class="c-card-media__text">動画の説明文が入ります動画の説明文が入ります動画の説明文が入ります動画</p>%>
          </div>
          <div class="c-card-media">
            <div class="c-card-media__content js-initYouTube" data-youtube-id="vXoZszlLW0g">
              <div class="c-card-media__image">
                <button aria-label="モーダルを開く" class="c-card-media__button js-initYouTube__init" data-micromodal-trigger="modal-2" role="button">
                  <img alt="" src="https://i.ytimg.com/vi/vXoZszlLW0g/sddefault.jpg" width="560" height="315" />
                </button>
              </div>
              <div aria-hidden="true" class="modal micromodal-slide" id="modal-2">
                <div class="modal__overlay js-initYouTube__close" data-micromodal-close="" tabindex="-1">
                  <div aria-modal="true" class="modal__container" role="dialog">
                    <button aria-label="モーダルを閉じる" class="modal__close js-initYouTube__button" data-micromodal-close></button>

                    <div class="modal__content">
                      <div class="js-initYouTube__content"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="c-card-media__title">編成局制作部　Mさん</div>
            <div class="c-card-media__name">2020年キャリア採用入社</div>
            <%#<p class="c-card-media__text">動画の説明文が入ります動画の説明文が入ります動画の説明文が入ります動画の説明文が入ります動画の説明文が入ります動画の説明文が入ります</p>%>
          </div>
          <div class="c-card-media">
            <div class="c-card-media__content js-initYouTube" data-youtube-id="0FFl14rHC_U">
              <div class="c-card-media__image">
                <button aria-label="モーダルを開く" class="c-card-media__button js-initYouTube__init" data-micromodal-trigger="modal-3" role="button">
                  <img alt="" src="https://i.ytimg.com/vi/0FFl14rHC_U/sddefault.jpg" width="560" height="315" />
                </button>
              </div>
              <div aria-hidden="true" class="modal micromodal-slide" id="modal-3">
                <div class="modal__overlay js-initYouTube__close" data-micromodal-close="" tabindex="-1">
                  <div aria-modal="true" class="modal__container" role="dialog">
                    <button aria-label="モーダルを閉じる" class="modal__close js-initYouTube__button" data-micromodal-close></button>

                    <div class="modal__content">
                      <div class="js-initYouTube__content"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="c-card-media__title">編成局編成部　Mさん</div>
            <div class="c-card-media__name">2021年キャリア採用入社</div>
            <%#<p class="c-card-media__text">動画の説明文が入ります動画の説明文が入ります動画の説明文が入ります動画の説明文が入ります動画の説明文が入ります動画の説明文が入ります</p>%>
          </div>
          <div class="c-card-media">
            <div class="c-card-media__content js-initYouTube" data-youtube-id="Gdm1zR4LfZY">
              <div class="c-card-media__image">
                <button aria-label="モーダルを開く" class="c-card-media__button js-initYouTube__init" data-micromodal-trigger="modal-4" role="button">
                  <img alt="" src="https://i.ytimg.com/vi/Gdm1zR4LfZY/sddefault.jpg" width="560" height="315" />
                </button>
              </div>
              <div aria-hidden="true" class="modal micromodal-slide" id="modal-4">
                <div class="modal__overlay js-initYouTube__close" data-micromodal-close="" tabindex="-1">
                  <div aria-modal="true" class="modal__container" role="dialog">
                    <button aria-label="モーダルを閉じる" class="modal__close js-initYouTube__button" data-micromodal-close></button>

                    <div class="modal__content">
                      <div class="js-initYouTube__content"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="c-card-media__title">営業局営業部　Hさん</div>
            <div class="c-card-media__name">2020年入社</div>
            <%#<p class="c-card-media__text">動画の説明文が入ります動画の説明文が入ります動画の説明文が入ります動画の説明文が入ります動画の説明文が入ります動画の説明文が入ります</p>%>
          </div>
        </div>

        <div class="l-interview__banner">
          <%- include('/partials/banner') %>
        </div>
      </div>
    </div>
  </div>

  <div class="l-faq" id="section-4">
    <div class="l-faq__outer">
      <div class="l-faq__inner">
        <h2 class="c-heading-type2 c-heading-type2--faq">
          <span class="c-heading-type2__main">FAQ</span>
          <span class="c-heading-type2__sub">よくある質問</span>
        </h2>
        <div class="c-widget-disclosure-list">
          <div class="c-widget-disclosure js-disclosure">
            <button class="c-widget-disclosure__button js-disclosure__button" aria-controls="disclosure-1">Q. 採用フローを教えてください。</button>
            <div class="c-widget-disclosure__content js-disclosure__content" id="disclosure-1">
              A. 採用フローは以下の通りです。
              <ol class="c-list-order">
                <li class="c-list-order__item">就職イベントやWeb会社説明会、いずれかへの参加</li>
                <li class="c-list-order__item">「マイナビ2025」、「あさがくナビ」よりエントリー</li>
                <li class="c-list-order__item">書類選考</li>
                <li class="c-list-order__item">一次面接</li>
                <li class="c-list-order__item">二次面接、筆記試験</li>
                <li class="c-list-order__item">最終面接</li>
                <li class="c-list-order__item">内定</li>
              </ol>
            </div>
          </div>
          <div class="c-widget-disclosure js-disclosure">
            <button class="c-widget-disclosure__button js-disclosure__button" aria-controls="disclosure-2">Q. 会社説明会への参加は必須でしょうか？</button>
            <div class="c-widget-disclosure__content js-disclosure__content" id="disclosure-2">A. エントリー提出には、就職イベントや、Webでの当社の会社説明会、いずれかへの参加が必須です。</div>
          </div>
          <div class="c-widget-disclosure js-disclosure">
            <button class="c-widget-disclosure__button js-disclosure__button" aria-controls="disclosure-3">Q. 勤務地は大阪でしょうか？</button>
            <div class="c-widget-disclosure__content js-disclosure__content" id="disclosure-3">A. 本社は大阪ですが、東京支社勤務の営業部もあります。野球、ゴルフ等、プロのスポーツイベントは日本全国で開催されますので、制作部配属になれば、全国各地への出張もあります。</div>
          </div>
          <div class="c-widget-disclosure js-disclosure">
            <button class="c-widget-disclosure__button js-disclosure__button" aria-controls="disclosure-3">Q. 資格は必要でしょうか？</button>
            <div class="c-widget-disclosure__content js-disclosure__content" id="disclosure-3">A. 特に必要な資格はありません。</div>
          </div>
          <div class="c-widget-disclosure js-disclosure">
            <button class="c-widget-disclosure__button js-disclosure__button" aria-controls="disclosure-4">Q. 異動はありますか？</button>
            <div class="c-widget-disclosure__content js-disclosure__content" id="disclosure-4">A. 何年たったら異動、ということではありませんが、組織の再構築、個人育成のための人事異動は適宜行っています。</div>
          </div>
        </div>

        <div class="l-faq__banner">
          <%- include('/partials/banner') %>
        </div>
      </div>
    </div>
  </div>

  <div class="l-comment">
    <div class="l-comment__content">
      <em class="l-comment__text">エントリーお待ちしています！</em>
      <span class="l-comment__sub">スカイA 総務局</span>
    </div>
    <img class="l-comment__image" src="/img/recruit/icon-megaphone.svg" width="190" height="146" alt="" />
  </div>
</div>
<!-- ./l-recruit -->
<ul class="c-top-banners">
  <li class="c-top-banners-item">
    <a href="https://www2.myjcom.jp/tv/?t=sports&amp;cid=s_skya_tvtop&amp;utm_campaign=s_skya_tvtop&amp;utm_medium=referral&amp;utm_source=spl" target="_blank"
      ><img src="/img/bnr/img_jcom2.jpg" alt="スポーツ専門チャンネルで放送する今日・明日の番組"
    /></a>
  </li>
  <li class="c-top-banners-item">
    <a
      href="https://www.jcom.co.jp/promo/spls/?mode=baseball&amp;spl=tigers&amp;cid=s_skya_baseball&amp;utm_source=spl&amp;utm_medium=referral&amp;utm_campaign=skya_baseball"
      target="_blank"
      rel="noopner"
      ><img src="/img/bnr/img_jcom3.jpg" alt="阪神戦を見るなら、J:COMで決まり!"
    /></a>
  </li>
  <li class="c-top-banners-item">
    <a href="https://www.jcom.co.jp/promo/spls/?mode=watch&amp;spl=skya&amp;cid=s_skya_watch&amp;utm_source=spl&amp;utm_medium=referral&amp;utm_campaign=skya_watch" target="_blank"
      ><img src="/img/bnr/img_jcom1.jpg" alt="J:COMでスカイAを見る!"
    /></a>
  </li>
  <li class="c-top-banners-item">
    <a href="https://promo.skyperfectv.co.jp/guide/?skya=howto" target="_blank"><img src="/img/bnr/img_promo_skyperfectv1.jpg" alt="スカパー！でスカイAを見る!" /></a>
  </li>
  <li class="c-top-banners-item">
    <a href="https://www.hikaritv.net/ch_lp/751/?utm_source=hktpartner&amp;utm_medium=other&amp;utm_campaign=hkt_202304_acst-skyA" target="_blank"
      ><img src="/img/bnr/img_hikaritv.jpg" alt="ひかりTV"
    /></a>
  </li>
  <li class="c-top-banners-item">
    <a href="https://auhikari.tv/?utm_source=skyA&amp;utm_medium=banner&amp;utm_campaign=LP" target="_blank"><img src="/img/bnr/img_auhikari.jpg" alt="auひかりテレビサービス" /></a>
  </li>
</ul>
<div class="l-bottomBanner">
  <a href="https://promo.skyperfectv.co.jp/guide/?skya=howto" class="l-bottomBanner__link">
    <img src="/img/recruit/image-banner1.jpeg" alt="スカイA見るならスカパー！" />
  </a>
</div>
