<ul class="c-list-banner">
  <li class="c-list-banner__item">
    <a href="https://job.mynavi.jp/25/pc/search/corp278277/outline.html" target="_blank" class="c-list-banner__link">
      <img src="/img/recruit/banner_mynavi.jpg" alt="マイナビ2025" />
    </a>
  </li>
  <li class="c-list-banner__item">
    <a href="https://www.gakujo.ne.jp/2025/company/baseinfo/45868/" target="_blank" class="c-list-banner__link">
      <img src="/img/recruit/banner_gakujo.jpg" alt="あさがくナビ" />
    </a>
  </li>
</ul>
