<ul class="c-list-banner">
  <li class="c-list-banner__item">
    <a href="DUMMY" class="c-list-banner__link">
      <img src="/img/recruit/banner_mynavi.jpg" alt="マイナビ2025" />
    </a>
  </li>
  <li class="c-list-banner__item">
    <a href="DUMMY" class="c-list-banner__link">
      <img src="/img/recruit/banner_gakujo.jpg" alt="あさがくナビ" />
    </a>
  </li>
</ul>
