@use '../common/baseSP';
@use '../object/library/microModal';
@use '../object/library/swiper';

.l-recruit {
  font-size: 12px;
  line-height: 1.7;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  .pc-view {
    display: none;
  }
}

.l-top {
  background: #333;

  &__content {
    padding: 12px var(--MARGIN_OUTER_SIDE_RIGHT) 0 var(--MARGIN_OUTER_SIDE_LEFT);
  }

  &__lead {
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 8px;
    line-height: 1.7;
    margin-top: 14px;
  }
}

.l-about {
  background: #e60012;
  padding: 0 var(--MARGIN_OUTER_SIDE_RIGHT) 40px var(--MARGIN_OUTER_SIDE_LEFT);

  &__text {
    color: #fff;
    line-height: 2;
    margin-top: 12px;
  }

  &__button {
    display: flex;
    justify-content: center;
    margin-top: 34px;
  }

  &__banner {
    margin-top: 38px;
  }
}

.l-slide {
  &__item {
    img {
      width: 100%;
    }
  }
}

.l-information {
  background: #f3f3f3;
  padding: 0 var(--MARGIN_OUTER_SIDE_RIGHT) 40px var(--MARGIN_OUTER_SIDE_LEFT);

  &__lead {
    font-size: 12px;
    line-height: 1.7;
    margin-top: 14px;
    padding: 10px;
    position: relative;

    &::before {
      background: #fff;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: calc(100vw - var(--MARGIN_OUTER_SIDE_LEFT));
    }

    & > strong {
      display: flex;
      gap: 10px;
      position: relative;

      &::before {
        content: '';
        background: url('/img/recruit/icon-exclamation.svg') left top/100%
          no-repeat;
        flex: 0 0 22px;
        height: 22px;
        width: 22px;
      }
    }
  }

  &__nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
  }

  &__navLink {
    align-items: flex-start;
    background: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    padding: 10px 0 10px 10px;
    position: relative;
    text-align: center;
    height: 100%;
    justify-content: center;

    &::before {
      background: url(/img/recruit/icon-chevron_white3.webp) center/contain
        no-repeat;
      content: '';
      display: block;
      height: 7px;
      position: absolute;
      right: 14px;
      width: 12px;
    }

    &--type2 {
      background: #fff;
      border: 1px solid #e8e8e8;
      color: #000;

      &:hover {
        color: #000;
      }
    }

    &[aria-disabled='true'] {
      background: #e8e8e8;
      color: #999;
      pointer-events: none;

      &::before {
        display: none;
      }
    }
  }

  &__navLinkNote {
    color: #ff0000;
    display: block;
    font-size: 9px;
  }

  &__banner {
    margin: 38px 0 50px;
  }
}

.l-seminar {
  .c-list-order {
    display: flex;
    flex-wrap: wrap;
    gap:  .5em 1%;
    margin-left: 0;
    &__item {
      flex: 1 0 48%;
    }
  }
}

.l-interview {
  background: #3b3c4a;
  color: #fff;
  padding: 0 var(--MARGIN_OUTER_SIDE_RIGHT) 40px var(--MARGIN_OUTER_SIDE_LEFT);

  &__banner {
    margin-top: 35px;
  }
}

.l-faq {
  background: #eaeaea;
  padding: 0 var(--MARGIN_OUTER_SIDE_RIGHT) 40px var(--MARGIN_OUTER_SIDE_LEFT);

  &__banner {
    margin-top: 35px;
  }
}

.l-comment {
  padding: 40px 0 30px;
  &__content {
    align-items: center;
    background: url('/img/recruit/illust-fukidashi.svg') center top/contain
      no-repeat;
    display: flex;
    flex-direction: column;
    padding: 10px 0 24px;
    margin: 0 auto;
    width: 258px;
  }

  &__text {
    font-style: normal;
    font-size: 13px;
    font-weight: bold;
  }

  &__sub {
    font-size: 14px;
  }

  &__image {
    margin: 6px auto 0;
    width: 96px;
  }
}

.l-bottomBanner {
  padding: 40px 20px;

  &__link {
    display: block;
    margin: 0 auto;
    width: fit-content;
  }
}

.c-heading-type1 {
  & img {
    width: 210px;
  }

  &__main {
    color: #ccc;
    display: block;
    font-size: calc((80 / 640) * 100vw);
    text-transform: uppercase;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    line-height: 1;
    margin-left: -0.084em;
  }
  &__sub {
    color: #666;
    display: block;
    font-size: 15px;
    margin-top: 6px;
  }
}

.c-heading-type2 {
  $this: &;
  margin-bottom: 22px;

  &::before {
    content: '';
    display: block;
    height: 25px;
    margin-bottom: 15px;
    width: calc(100vw - var(--MARGIN_OUTER_SIDE_LEFT));
  }

  &__main {
    display: block;
    font-size: calc((64 / 640) * 100vw);
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    line-height: 1;
    margin-left: -0.084em;
  }
  
  &__sub {
    display: block;
    font-size: 15px;
    margin-top: 8px;
  }

  &--about {
    &::before {
      background: #ff3300;
    }
    & > img {
      width: 192px;
    }

    #{$this}__main {
      color: #fff;
    }

    #{$this}__sub {
      color: #ccc;
    }
  }

  &--information {
    &::before {
      background: #ffcc00;
    }
    & > img {
      width: 185px;
    }

    #{$this}__main {
      color: #222;
    }

    #{$this}__sub {
      color: #ffcc00;
    }
  }

  &--interview {
    &::before {
      background: #00cc00;
    }
    & > img {
      width: 156px;
    }

    #{$this}__sub {
      color: #00cc00;
    }
  }

  &--faq {
    &::before {
      background: #6699ff;
    }
    & > img {
      width: 68px;
    }

    #{$this}__sub {
      color: #6699ff;
    }
  }
}

.c-heading-type3 {
  $this: &;
  border-left: 4px solid #ccc;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 3px 9px;
  margin-top: 30px;
  padding-left: 8px;

  &__title {
    &--newgraduate {
      img {
        width: 142.5px;
      }
    }
    &--career {
      img {
        width: 65px;
      }
    }
  }

  &__main {
    color: #000;
    display: block;
    font-size: calc((48 / 640) * 100vw);
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    line-height: 1;
    margin-left: -0.084em;
  }

  &__sub {
    color: #999;
    font-weight: bold;
  }

  &__note {
    color: #ff0000;
    font-size: 14px;
    width: 100%;
  }
}

.c-heading-type4 {
  $this: &;

  &__title {
    margin: 30px 0 1em;  
  }

  &__main {
    border-left: 8px solid #ccc;
    flex-wrap: wrap;
    gap: 3px 9px;
    padding-left: 18px;
    color: #000;
    font-size: calc((32 / 640) * 100vw);
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-left: -0.084em;
  }

  &__note {
    color: #ff0000;
    font-size: 14px;
    margin-lef: 6px;
    a {
      &:link, &:visited {
        color: #f00;
      }
      &:hover, &:active {
        text-decoration: underline;
      }
    }
  }
}

.c-list-news {
  $this: &;

  color: #999;
  display: grid;
  grid-template-rows: auto 1fr;
  margin-top: 40px;

  &__title {
    font-size: 12px;
    margin-bottom: 10px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__item {
    display: flex;
    gap: 24px;

    &.is-new {
      #{$this}__name {
        &::after {
          content: 'New!!';
          color: #ff0000;
          font-size: 12px;
          font-weight: bold;
        }
      }
    }
  }

  &__date {
    font-size: 11px;
  }

  &__name {
    display: flex;
    gap: 14px;
  }

  &__link {
    color: inherit;
    font-size: 12px;

    &:any-link {
      &:link,
      &:visited {
        color: inherit;
        opacity: 1;
        text-decoration: underline;
      }

      &:hover,
      &:active {
        text-decoration: none;
      }
    }

    &:not(:any-link) {
      &:hover {
        color: inherit;
        opacity: 1;
      }
    }
  }
}

.c-list-navigation {
  background: #000;
  color: #fff;
  margin-top: 20px;
  padding: 12px var(--MARGIN_OUTER_SIDE_RIGHT) 12px
    var(--MARGIN_OUTER_SIDE_LEFT);

  &__list {
    display: flex;
    justify-content: space-around;
  }

  &__link {
    align-items: center;
    color: inherit;
    display: flex;
    font-size: 14px;
    gap: 4px;
    padding: 5px 0;

    &::before {
      background: url('/img/recruit/icon-chevron_white1.webp') left center/100%
        no-repeat;

      content: '';
      display: block;
      height: 11px;
      width: 11px;
    }
  }
}

.c-list-banner {
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto;
  justify-content: center;
}

.c-list-order {
  counter-reset: counter;
  margin-left: 1em;

  &__item {
    display: flex;
    &::before {
      counter-increment: counter;
      content: counter(counter) ') ';
      flex: 0 0 2em;
    }
  }
}

.c-button {
  align-items: center;
  border: 1px solid #fff;
  color: #fff;
  display: inline-flex;
  font-size: 15px;
  justify-content: center;
  padding: 10px 25px;
  position: relative;
  transition: opacity 0.3s;
  min-width: 240px;

  &::before {
    background: url(/img/recruit/icon-chevron_white2.webp) left center/50%
      no-repeat;
    content: '';
    width: 18px;
    height: 29px;
    display: block;
    position: absolute;
    right: 8px;
  }

  @media (hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}

.c-table {
  margin-top: 30px;
  &__table {
    border-bottom: 1px solid #666;
    border-collapse: collapse;
    text-align: left;
    width: 100%;

    tr {
      border-top: 1px solid #666;
    }

    th {
      font-weight: normal;
      padding: 10px 5px 10px 0;
      vertical-align: top;
    }

    td {
      padding: 10px 0 10px 5px;
      width: 72%;
    }
  }
}

.c-content {
  margin-top: 30px;
}

.c-card-media-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.c-card-media {
  &__content {
    font-size: 12px;
    line-height: 1.7;
  }

  &__button {
    border: none;
    display: block;
    height: 0;
    overflow: hidden;
    padding: 56.25% 0 0;
    position: relative;
    width: 100%;

    &::before {
      background: url('/img/recruit/icon-movie.svg') left center/100% no-repeat;
      bottom: 0;
      content: '';
      height: 40px;
      left: 0;
      position: absolute;
      right: 0;
      margin: auto;
      width: 57px;
      top: 0;
      z-index: 2;
      transition: all ease 0.3s;
    }

    & img {
      height: 100%;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &__title {
    font-size: 13px;
    margin-top: 10px;
  }

  &__name {
    font-size: 12px;
  }

  &__text {
    font-size: 12px;
    margin-top: 5px;
  }

  .modal__container {
    padding: 0;
    max-width: 90vw;
    width: 100%;
  }

  .modal__content {
    height: 0;
    padding: 56.25% 0 0;
    position: relative;
    width: 100%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
}

.c-widget-disclosure-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.c-widget-disclosure {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__button {
    align-items: center;
    background: #fff;
    border: none;
    display: flex;
    padding: 15px;
    text-align: left;
    width: 100%;
    font-size: 12px;
    position: relative;

    &::before,
    &::after {
      background: #000;
      content: '';
      display: block;
      height: 2px;
      width: 10px;
      position: absolute;
      transition: transform 0.3s;
      right: 15px;
    }

    &::before {
      transform: rotate(90deg);
    }

    &[aria-expanded='true']::before {
      transform: rotate(0);
    }
  }

  &__content {
    padding: 15px;
    background: #fff;
    padding: 15px 15px 15px calc(15px + 1.6em);
    text-indent: -1.4em;

  }
}

.c-widget-slider {
  &__button {
    &.swiper-button-prev,
    &.swiper-button-next {
      &::after {
        color: #fff;
        font-size: 24px;
      }
    }
  }

  &__item {
    width: 80% !important;
    img {
      width: 100%;
    }
  }
}

.c-widget-topSlider {
  &__item {
    img {
      width: 100%;
    }
  }

  .swiper-wrapper {
    transition-timing-function: linear;
  }
}

.js-disclosure {
  &__content {
    &:not(.is-show) {
      display: none;
    }
  }
}

.c-top-banners {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin: 20px 0 32px;
  padding: 0 6px;
  gap: 16px;
}
