@use './foundation/variable' as var;
@use './common/basePC';
@use './object/library/microModal';
@use './object/library/swiper';

.l-recruit {
  font-size: 16px;
  line-height: 1.5;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  img {
    height: auto;
  }
}

.l-top {
  background: #333;
  overflow: hidden;

  &__outer {
    display: flex;
    justify-self: center;
    width: 100%;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  &__slide {
    order: 2;
    position: relative;
  }

  &__content {
    order: 1;
    padding: 70px 10px 56px 60px;
    max-width: 960px;
  }

  &__lead {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 8px;
    line-height: 1.55;
    font-size: calc((28 / 1920) * 100vw);
    font-weight: bold;
    margin-top: 58px;
  }

  &__navigation {
    position: absolute;
    right: 0;
    z-index: 1;
  }
}

.l-about {
  background: #e60012;
  padding: 0 0 100px;

  &__outer {
    display: flex;
    justify-content: center;
  }

  &__inner {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, auto);
    max-width: var(--WIDTH_CONTENT);
    width: 100%;
  }

  &__text {
    color: #fff;
    grid-column: 1/2;
    line-height: 2.25;
    margin-top: 30px;
  }

  &__button {
    display: flex;
    grid-column: 2/3;
    justify-content: flex-end;
    margin-top: 40px;
    align-items: flex-start;
  }

  &__banner {
    grid-column: 1/3;
    margin-top: 70px;
  }
}

.l-slide {
  &__item {
    img {
      width: 100%;
    }
  }
}

.l-information {
  background: #f3f3f3;
  padding: 0 0 100px;

  &__outer {
    display: flex;
    justify-content: center;
  }

  &__inner {
    max-width: var(--WIDTH_CONTENT);
    width: 100%;
  }

  &__lead {
    background: #fff;
    font-size: 18px;
    margin-top: 40px;
    padding: 16px 20px;
    position: relative;

    & > strong {
      align-items: center;
      display: flex;
      gap: 20px;
      position: relative;

      &::before {
        content: '';
        background: url('/img/recruit/icon-exclamation.svg') left top/100%
          no-repeat;
        flex: 0 0 45px;
        height: 45px;
        width: 45px;
      }
    }
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    margin: 58px 0;
  }

  &__navItem {
    width: 420px;
  }

  &__navLink {
    align-items: center;
    background: #333;
    color: #fff;
    display: flex;
    font-size: 24px;
    gap: 12px;
    padding: 22px 20px 20px 32px;
    position: relative;
    text-align: center;

    &::before {
      background: url(/img/recruit/icon-chevron_white3.webp) center/54%
        no-repeat;
      content: '';
      display: block;
      height: 29px;
      position: absolute;
      right: 14px;
      width: 48px;
    }

    &:hover {
      color: #fff;
    }

    &--type2 {
      background: #fff;
      border: 1px solid #e8e8e8;
      color: #000;

      &:hover {
        color: #000;
      }
    }

    &[aria-disabled='true'] {
      background: #e8e8e8;
      color: #999;
      pointer-events: none;

      &::before {
        display: none;
      }
    }
  }

  &__navLinkNote {
    color: #ff0000;
    display: block;
    font-size: 16px;
  }

  &__banner {
    margin: 80px 0 104px;
  }
}

.l-interview {
  background: #3b3c4a;
  color: #fff;
  padding: 0 0 100px;

  &__outer {
    display: flex;
    justify-content: center;
  }

  &__inner {
    max-width: var(--WIDTH_CONTENT);
    width: 100%;
  }

  &__banner {
    margin-top: 78px;
  }
}

.l-seminar {
  .c-list-order {
    display: flex;
    flex-wrap: wrap;
    gap:  .5em 1%;
    margin-left: 0;
    &__item {
      flex: 1 0 24%;
    }
  }
}

.l-faq {
  background: #eaeaea;
  padding: 0 0 100px;
  &__outer {
    display: flex;
    justify-content: center;
  }

  &__inner {
    display: grid;
    grid-template-columns: minmax(auto, 384px) 1fr;
    grid-template-rows: repeat(2, auto);
    max-width: var(--WIDTH_CONTENT);
    width: 100%;
  }

  &__banner {
    grid-column: 1/3;
    margin-top: 80px;
  }
}

.l-comment {
  padding: 100px 0 30px;
  &__content {
    align-items: center;
    background: url(/img/recruit/illust-fukidashi.svg) center top/cover
      no-repeat;
    display: flex;
    flex-direction: column;
    padding: 24px 0 52px;
    margin: 0 auto;
    width: 517px;
  }

  &__text {
    font-style: normal;
    font-size: 26px;
    font-weight: bold;
  }

  &__sub {
    font-size: 20px;
  }

  &__image {
    margin: 6px auto 0;
  }
}

.l-bottomBanner {
  background: #dcd9dc;
  padding: 40px 20px;

  &__link {
    display: block;
    margin: 0 auto;
    width: fit-content;
  }
}

.c-heading-type1 {
  &__main {
    color: #ccc;
    display: block;
    font-size: calc((198 / 1920) * 100vw);
    text-transform: uppercase;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    line-height: 1;
    margin-left: -0.084em;
  }
  &__sub {
    color: #666;
    display: block;
    font-size: calc((32 / 1920) * 100vw);
    font-weight: bold;
    margin-top: 14px;
  }
}

.c-heading-type2 {
  $this: &;
  padding-top: 80px;
  position: relative;

  &::before {
    content: '';
    display: block;
    height: 50px;
    margin-bottom: 15px;
    position: absolute;
    top: 0;
    width: 100%;

    @media screen and (min-width: var.$WIDTH_PC_CONTENT) {
      width: 100vw;
    }
  }

  &__main {
    display: block;
    font-size: calc((96 / 1920) * 100vw);
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    line-height: 1;
    margin-left: -0.084em;
  }

  &__sub {
    font-size: 24px;
    margin-top: 24px;
    display: block;
  }

  &--about {
    &::before {
      background: #ff3300;
    }

    #{$this}__main {
      color: #fff;
    }

    #{$this}__sub {
      color: #ccc;
      margin-top: 18px;
    }
  }

  &--information {
    &::before {
      background: #ffcc00;
    }

    #{$this}__main {
      color: #222;
    }

    #{$this}__sub {
      color: #ffcc00;
    }
  }

  &--interview {
    &::before {
      background: #00cc00;
    }

    #{$this}__sub {
      color: #00cc00;
    }
  }

  &--faq {
    padding-top: 110px;
    &::before {
      background: #6699ff;
    }

    #{$this}__sub {
      color: #6699ff;
    }
  }
}

.c-heading-type3 {
  $this: &;
  border-left: 8px solid #ccc;
  display: flex;
  flex-wrap: wrap;
  gap: 3px 9px;
  margin-top: 30px;
  padding-left: 18px;

  &__main {
    color: #000;
    display: block;
    font-size: calc((60 / 1920) * 100vw);
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    line-height: 1;
    margin-left: -0.084em;
  }

  &__sub {
    color: #999;
    font-size: 24px;
    font-weight: bold;
    margin: 6px 0 0 10px;
  }

  &__note {
    color: #ff0000;
    font-size: 16px;
    margin-top: 6px;
    width: 100%;
  }
}

.c-heading-type4 {
  $this: &;
  
  &__title {
    margin: 30px 0 1em;  
  }

  &__main {
    border-left: 8px solid #ccc;
    flex-wrap: wrap;
    gap: 3px 9px;
    padding-left: 18px;
    color: #000;
    font-size: 24px;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-left: -0.084em;
  }

  &__note {
    color: #ff0000;
    font-size: 16px;
    margin-lef: 6px;
  }
}

.c-list-news {
  $this: &;

  color: #999;
  margin-top: 162px;

  &__title {
    font-size: calc((24 / 1920) * 100vw);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 14px;
  }

  &__item {
    display: flex;
    gap: 36px;
    font-size: calc((18 / 1920) * 100vw);

    &.is-new {
      #{$this}__name {
        &::after {
          content: 'New!!';
          color: #ff0000;
          font-size: 12px;
          font-weight: bold;
        }
      }
    }
  }

  &__name {
    display: flex;
    gap: 14px;
  }

  &__link {
    color: inherit;

    &:any-link {
      &:link,
      &:visited {
        color: inherit;
        opacity: 1;
        text-decoration: underline;
      }

      &:hover,
      &:active {
        text-decoration: none;
      }
    }

    &:not(:any-link) {
      &:hover {
        color: inherit;
        opacity: 1;
      }
    }
  }
}

.c-list-navigation {
  color: #fff;
  margin-top: 20px;
  padding: 12px 60px 12px 0;

  &__list {
    display: flex;
    justify-content: space-around;
    gap: 52px;
  }

  &__link {
    align-items: center;
    color: inherit;
    display: flex;
    font-size: 21px;
    gap: 10px;
    text-shadow: 1px 1px 2px #000;

    &::before {
      background: url('/img/recruit/icon-chevron_white1.webp') left center/100%
        no-repeat;

      content: '';
      display: block;
      height: 24px;
      width: 24px;
    }
  }
}

.c-list-banner {
  display: grid;
  gap: 66px;
  grid-template-columns: auto auto;
  justify-content: center;
}

.c-list-order {
  counter-reset: counter;
  margin-left: 1em;

  &__item {
    display: flex;
    &::before {
      counter-increment: counter;
      content: counter(counter) ') ';
      flex: 0 0 2em;
    }
  }
}

.c-button {
  align-items: center;
  border: 1px solid #fff;
  color: #fff;
  display: flex;
  font-size: 24px;
  justify-content: center;
  padding: 20px 25px;
  position: relative;
  transition: opacity 0.3s;
  width: 75%;

  &::before {
    background: url('/img/recruit/icon-chevron_white2.webp') left center/80%
      no-repeat;
    content: '';
    width: 18px;
    height: 29px;
    display: block;
    position: absolute;
    right: 24px;
  }

  @media (hover: hover) {
    &:hover {
      color: #fff;
      opacity: 0.5;
    }
  }
}

.c-table {
  margin-top: 52px;
  &__table {
    border-bottom: 1px solid #666;
    border-collapse: collapse;
    text-align: left;
    width: 100%;

    tr {
      border-top: 1px solid #666;
    }

    th {
      font-weight: normal;
      padding: 25px 5px 24px 62px;
      vertical-align: top;
      width: 240px;
    }

    td {
      padding: 25px 0 24px 5px;
    }
  }
}

.c-content {
  margin-top: 40px;
}

.c-card-media-list {
  display: grid;
  gap: 40px 75px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 40px;
}

.c-card-media {
  &__content {
    font-size: 12px;
    line-height: 1.7;
  }

  &__button {
    border: none;
    cursor: pointer;
    display: block;
    height: 0;
    overflow: hidden;
    padding: 56.25% 0 0;
    position: relative;
    width: 100%;

    &::before {
      background: url('/img/recruit/icon-movie.svg') left center/100% no-repeat;
      bottom: 0;
      content: '';
      height: 83px;
      left: 0;
      position: absolute;
      right: 0;
      margin: auto;
      width: 118px;
      top: 0;
      z-index: 2;
      transition: all ease 0.3s;
    }

    & img {
      height: 100%;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 0;
      transition: all ease 0.3s;
      width: 100%;
    }
  }

  &__title {
    font-size: 18px;
    margin-top: 18px;
  }

  &__name {
    font-size: 16px;
    margin-top: 10px;
  }

  &__text {
    font-size: 16px;
    margin-top: 12px;
  }

  .modal__container {
    padding: 0;
    background: transparent;
  }
}

.c-widget-disclosure-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 810px;
  margin-top: 110px;
}

.c-widget-disclosure {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__button {
    align-items: center;
    background: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    padding: 32px;
    position: relative;
    text-align: left;
    width: 100%;

    &::before,
    &::after {
      background: #000;
      content: '';
      display: block;
      height: 2px;
      width: 20px;
      position: absolute;
      transition: transform 0.3s;
      right: 30px;
    }

    &::before {
      transform: rotate(90deg);
    }

    &[aria-expanded='true']::before {
      transform: rotate(0);
    }
  }

  &__content {
    font-size: 18px;
    background: #fff;
    padding: 30px 30px 30px calc(30px + 1.6em);
    text-indent: -1.4em;

    a {
      &:any-link {
        &:link,
        &:visited {
          color: inherit;
          opacity: 1;
          text-decoration: underline;
        }

        &:hover,
        &:active {
          text-decoration: none;
        }
      }

      &:not(:any-link) {
        &:hover {
          color: inherit;
          opacity: 1;
        }
      }
    }
  }
}

.c-widget-slider {
  display: flex;
  &__button {
    display: none;
  }

  &__item {
    flex: 1;
  }
}

.c-widget-topSlider {
  position: absolute;
  &__wrapper {
    animation: scroll-infinity 80s infinite linear 0.5s both;
  }
}

@keyframes scroll-infinity {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.js-disclosure {
  &__content {
    &:not(.is-show) {
      display: none;
    }
  }
}

@media (hover: hover) {
  .c-list-navigation {
    &__link {
      &:hover {
        color: inherit;
      }
    }
  }

  .c-card-media {
    &__button {
      &:hover {
        &::before,
        img {
          opacity: 0.5;
        }
      }
    }
  }
}
