@use '../foundation/variable' as var;

:root {
  --WIDTH_CONTENT: 1198px;
}

#contents-inner {
  width: 100%;
  background: #fff;
}

#pkz {
  margin: 0;
  padding: 16px 43px;
  position: absolute;
}

#pkz p {
  color: var(--COLOR_TEXT_WHITE);
}

#pkz p a {
  color: inherit;
}

div#contWarp {
  border: none;
  background: transparent;
  width: 100%;
}

div#main {
  padding: 0;
}

.social {
  margin-top: 60px;
  text-align: center;
}
.social-head {
  color: rgb(204, 204, 204);
  font-size: 14px;
}
.social-button {
  margin-top: 10px;
}
.social-button > div {
  display: inline-block;
  margin: 0 10px;

  button {
    transition: all ease 0.3s;
    &:hover {
      opacity: 0.5;
    }
  }
}
